<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/librarys/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}

    {% endblock %}
    <script src="https://kit.fontawesome.com/a95667fafa.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="app">{% block content %}{% endblock %}</div>

    <script src="/librarys/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>