{% extends "layouts/main.twig" %}
{% import 'components/header.twig' as header %}
{% import 'components/form.twig' as form %}

{% block title %}Editar comprovante{% endblock %}

{% block content %}
    {{ header.render() }}

    <main>
        <div class="container">
            <h1 class="title">Editar comprovante</h1>
            <form action="/receipt/edit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ receipt.id }}">
                {{ form.render(receipt.title, receipt.formartDateEUA(), false) }}
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </main>
{% endblock %}