{% extends "layouts/main.twig" %}
{% import 'components/header.twig' as header %}
{% import 'components/card.twig' as card %}

{% block title %}Não foi possível encontrar está página{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/jumbotron.css">
{% endblock %}

{% block content %}
    <main class="jumbotron-container">
        <div class="container">
            <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
                <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
                <i class="fa-solid fa-circle-exclamation fa-5x mb-2"></i>
                <h1 class="text-body-emphasis">Oops! Parece que você se perdeu.</h1>
                <p class="col-lg-6 mx-auto mb-4">A página que você está procurando não foi encontrada. Mas não se preocupe, você pode sempre voltar para a home. Clique no botão abaixo para retornar à página inicial do nosso site e continuar sua jornada digital.</p>
                <a class="btn btn-primary px-5 mb-5" href="/">
                    Voltar para home
                </a>
            </div>
        </div>
    </main>
{% endblock %}